extends layout

block content
  h1(class="pageTitle") Wonderful Message Board

  div.pageTitle
    h3 Post a new message!

  div.newMessageFormContainer
    form.newMessageForm(method='POST' action='')
      div
        label(for='messageTitle') Title: 
        input(type='text' name='messageTitle' style="margin: 5px 0 15px 0")
      div
        label(for='messageText') Message: 
        textarea(name='messageText' required='true' rows="10" style="margin: 5px 0 0 0;width:100%")
      input(type='hidden' name='messageUser' value=user)
      button.newMessageFormButton(type='submit') Submit